body {
    margin: 0px;
    padding: 0px;
    background-color: lightgray;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10px 0px;
}

#button {
    font-size: 18px;
}

.board {
    background-color: white;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

#content {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.row {
    background-color: purple;
    height: 10%;
    width: 100%;
}